{{#each students}}
    <h1>{{name}}</h1>
    {{#if one}}<div class="line">{{one}}</div>
    {{else}} <div class="line"><br></div>
    {{/if}}
    {{#if two}}<div class="line">{{two}}</div>
    {{else}} <div class="line"><br></div>
    {{/if}}
    {{#if three}}<div class="line">{{three}}</div>
    {{else}} <div class="line"><br></div>
    {{/if}}
    {{#if four}}<div class="line">{{four}}</div>
    {{else}} <div class="line"><br></div>
    {{/if}}
    {{#if five}}<div class="line">{{five}}</div>
    {{else}} <div class="line"><br></div>
    {{/if}}
    {{#if six}}<div class="line">{{six}}</div>
    {{else}} <div class="line"><br></div>
    {{/if}}
    {{#if seven}}<div class="line">{{seven}}</div>
    {{else}} <div class="line"><br></div>
    {{/if}}
    {{#if eight}}<div class="line">{{eight}}</div>
    {{else}} <div class="line"><br></div>
    {{/if}}

{{/each}}